packages:
  yum:
    ca-certificates: []

commands:
  01_update_cert:
    command: yum update -y ca-certificates

container_commands:
  01_install_cert:
    command: |
      pip install --upgrade pip
      pip install --upgrade certifi
      export PYTHONPATH=/var/app/current
      export REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt 